notebooks/.ipynb_checkpoints/
benchmarking/.ipynb_checkpoints/
.ipynb_checkpoints/

*.egg-info/
*.pyc
.DS_Store
*.tfcache*
.RData
.Rhistory



tmp/
results/
data/
cytotrace/
backups/
notebooks/cache
notebooks/figures
